<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.oubowu.exerciseprogram"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--android:hardwareAccelerated="false"-->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mvp.MvpActivity"/>
        <activity
            android:name=".refreshrecyclerview.RefreshActivity"
            android:label="@string/title_activity_refresh">
        </activity>
        <activity
            android:name=".floatlayout.FloatLeafActivity"
            android:label="@string/bazier">
        </activity>
        <activity
            android:name=".kotlin.KotlinActivity"
            android:label="@string/kotlin">
        </activity>
        <activity
            android:name=".kotlin.LoginActivity"
            android:label="@string/title_activity_login">
        </activity>
        <activity android:name=".rxjava.RxJavaActivity">
        </activity>
        <activity android:name=".rxjava.IfengActivity"/>
        <activity android:name=".jsonparse.JsonParseActivity">
        </activity>
        <activity android:name=".viewdraghelper.SwipeActivity">
        </activity>
        <activity android:name=".databinding.DataBindingActivity">
        </activity>
        <activity android:name=".tailview.SettingsActivity">
        </activity>
        <activity
            android:name=".toucheventdelivery.TouchEventActivity"
            android:label="Activity为总统"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        </activity>
        <activity
            android:name=".aigestudiostudy.AigeActivity"
            android:label="Canvas相关知识">
        </activity>
        <activity
            android:name=".aigestudiostudy.AigeActivity1"
            android:label="绘制流程相关知识">
        </activity>
    </application>

</manifest>
